{**
* User: Frantisek Kasa <frantisekkasa@gmail.com>
* Date: 26.04.2017
* File: up
* Project: xreporty
*}

{block content}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 n:block=title>Registrace</h1>

		{control signUpForm}

		<p><a n:href="in">Máte již účet? Přihlásit se.</a></p>
	</div>
</div>
