#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

services:
    - App\Model\AdgroupManager
    - App\Model\KeywordManager
    - App\Model\AccountManager
    - App\Model\CampaignManager
    - App\Model\ReportManager
    - App\Model\UserManager
    - App\Forms\FormFactory
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory

    adsapi: App\AdsMyExtension\OAuth2Authentication(%appDir%/adwordsMyExtension/adsapi_php.ini)
    router: App\RouterFactory::createRouter

    #Vypnutí cache pro testování
    cacheStorage:
        class: Nette\Caching\Storages\DevNullStorage
